
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8 />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <link href="~/Content/cv/css/cv_desktop.css" rel="stylesheet" />
    <link href="~/Content/cv/css/cv_mobile.css" rel="stylesheet" />
    <title>CV</title>
</head>
<body>
    <section id="section">


        <div>
            <div>
                <h2>Curriculum Vitae</h2>
                <div class="c-nav">
                    <p title="Oleksandr Klymchuk">
                        OK<span>lymchuk</span><br><span id="cv-n">leksandr</span>
                    </p>
                    <h2>Curriculum Vitae</h2>
                    <sup id="cv-menu">&equiv;</sup>
                    <ul>

                        <li>
                            Uddannelse
                        </li>

                        <li>
                            Erhvervserfaring
                        </li>
                        <li>
                            Kompetencer
                        </li>
                        <li>
                            Sprogfærdigheder
                        </li>

                        <li>
                            Kørekort
                        </li>
                        <li>
                            Freelance jobs
                        </li>
                        <li>
                            Fritidsinteresser
                        </li>
                    </ul>


                </div>
                <div class="c-id">
                    <img src="~/Content/cv/images/f-ps.jpg">
                </div>
                <div class="c-pas">
                    <b>Navn:</b><span>Oleksandr Klymchuk</span><br>
                    <b>Adresse:</b><span>Ankjær 205, 8300 Odder</span> <br>
                    <b>Mobil:</b><span><a href="tel:24961850"> 24 96 18 50</a></span><br>
                    <b>E-mail:</b><span><a href="mailto:olkly85@gmail.com">olkly85@gmail.com</a></span><br>
                    <b>Fødselsdag:</b><span> 20.12.1985</span><br>
                    <b>Civil stand:</b><span> gift; vi har et barn</span><br>
                </div>
            </div>
            <div class="c-body">
                <h4>Uddannelse</h4>
                <p>
                    2014- Århus Erhvervsakademi (Professionsbachelor i webudvikling)<br>
                    2012-2014 Århus Erhvervsakademi (IT-teknolog/netværksteknik) <br>
                    2008-2010- Horsens Sprog Center (Dansk Prøve 3)<br>
                    2002 – 2005 Berdichev skole Ukraine (Gymnasium) <br>

                    <span class="display-none">
                        <img src="~/Content/cv/images/Erhvervsakademiet.jpg" />
                        <img src="~/Content/cv/images/sprogcenter.jpg" />
                    </span><br>
                </p>

                <h4>Erhvervserfaring</h4>
                <p>
                    2014-ProCore, Lystrup (Front-end udvikler)<br>
                    2013-(August-November): JE-Electronic, Vejle. (Virksomhedspraktik).<br>
                    2012-2014 : Odder kommune ældreservice. (Studiejob)<br>
                    <span class="display-none">
                        <img src="~/Content/cv/images/ProCore.png" />
                        <img src="~/Content/cv/images/odder.jpg" />
                        <img src="~/Content/cv/images/JE.jpg" />
                    </span><br>

                </p>
                <h4>Kompetencer</h4>
                <p>
                    HTML-CSS-JS, jQuery,Telerik<br>
                    MVC5, ASP.NET Web API 2,C-Sharp,SQL Server<br>
                    objective-C,mongoDB<br>


                    <span class="display-none">
                        <img src="~/Content/cv/images/HTML-CSS-JAVASCRIPT.png" />
                        <img src="~/Content/cv/images/jquery.png" />
                        <img src="~/Content/cv/images/telerik.jpg" />
                        <img src="~/Content/cv/images/mvc5.jpg" />
                        <img src="~/Content/cv/images/webapi.jpg" />
                        <img src="~/Content/cv/images/csharp.png" />
                        <img src="~/Content/cv/images/mongodb.jpg" />
                        <img src="~/Content/cv/images/mssql.jpg" />
                        <img src="~/Content/cv/images/objective-c.jpg" />

                    </span><br>
                <p />
                <h4>Sprogfærdigheder</h4>
                <p>

                    Ukrainsk – modersmål.<br>
                    Dansk – jeg har bestået Dansk Prøver 3: kan skrive, læse, tale og forstå på rutineret niveau.<br>
                    Russisk – andet sprog. <br>
                    Engelsk – avanceret<br>
                    <span class="display-none">
                        <img src="~/Content/cv/images/ua.png" />
                        <img src="~/Content/cv/images/dk.png" />
                        <img src="~/Content/cv/images/ru.jpg" />
                        <img src="~/Content/cv/images/en.png" />
                    </span><br>
                </p>
                <h4>Kørekort</h4>
                <p>

                    A-B-C-BE-CE<br>

                </p>
                <h4>Fritidsinteresser</h4>
                <p>
                    Når jeg har fri tid bruger jeg den sammen med min familie (vi cykler, går i svømmehal, spiller Rummikub). Jeg går også i fitness center.
                </p>
                <h4>Freelance jobs</h4>
                <p>

                    2008-2010 :Tolk i foreningen “Arattas venner”, som hjælper børn i Ukraine.<br>
                </p>

            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
    <script src="~/Scripts/app/cv.js"></script>
</body>
</html>
